{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>
        {% block head_title %}    
        {% endblock head_title %}
    </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'media/icons/favicon.png' %}" sizes="16x16" type="image/png">
    {% include "base/css.html" %}
</head>
<body>
    {% include "base/navbar.html" %}

    <main role="main" class="container">
        {% block main_contents %}        
        {% endblock main_contents %}
    </main>
    {% include "base/js.html" %}
</body>
</html>
